
.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {line-height: 2em}

/* select styling */
.k-dropdown.form-control {border-bottom: 0px !important}
.k-selectbox,.k-dropdown-wrap {border-color: #EBEBEB !important;height: 2.3em !important;}
.k-list-container {border-color: #cccccc !important}
.k-dropdown-wrap .k-i-arrow-s {background-position-y: -34px;}
.form-group.inlineFields {line-height: 0 !important; }
.mySelect {margin-top:4px;}