.sb-search-input{background:#FFF!important;padding-left:10px!important;font-size:13px!important;}

/* here you can put your own css to customize and override the theme */
.icon_help{font-size:16px;color:#fffdfd;}
.sub-heading{padding-left:15px;color:#FFF;font-size:13px;margin-top:0;padding-top:11px;}
.announcement{background:#FFF url(../../../images/artwork.png) no-repeat right top;padding:15px 20px;margin-left:-20px;margin-right:-20px;border-bottom:1px solid #ddd;margin-bottom:20px;}
.announcement .announcement-box{position:relative;padding-left:15px;font-size:13px;}
.announcement .announcement-box .fa{color:#8b8b8b;font-size:12px;position:relative;top:0px;margin-left:3px;}
.announcement .announcement-box .fa:hover{color:#2196F3;}
.announcement .title{margin:0px;margin-bottom:5px;font-weight:600;color:#2e96db;}
.announcement .date{font-size:11px;}
.announcement .authorname{color:#35373f;font-size:14px;}
.announcement .announcement-box .icon{position:absolute;left:-10px;top:2px;font-size:18px;color:#2e96db;}
.kpiBar .tabbable-custom > .nav-tabs{margin:0px 0 20px 0;}
.kpiBar .nav-tabs-justified > li > a,.nav-tabs.nav-justified > li > a{border-bottom:none;}
.kpiBar .tabbable-custom > .nav-tabs > li img{float:right;display:none;}
.kpiBar .tabbable-custom > .nav-tabs > li .value{display:block;font-size:36px;font-weight:400;color:#1c3647;position:relative;display:inline-block;background:url("../../../images/green_arrow.png")no-repeat right;padding-right:30px;}
.kpiBar .tabbable-custom > .nav-tabs > li .out_of_symbol{padding-right:15px!important;}
.kpiBar .tabbable-custom > .nav-tabs > li .red_arrow{background:url("../../../images/red_down_arrow.png")no-repeat right!important;padding-right:30px;}
.kpiBar .tabbable-custom > .nav-tabs > li{border:1px solid transparent;border-radius:3px!important;float:left;width:19.2%;margin-right:1%;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.kpiBar .tabbable-custom > .nav-tabs > li.active,.kpiBar .tabbable-custom > .nav-tabs > li:hover{border:1px solid #52c8b2;}
.kpiBar .tabbable-custom > .nav-tabs > li:last-child{margin-right:0%;}
.portlet-body img{width:100%;}
.kpiBar .kpiDetail{float:right;text-align:left;color:#333;font-size:13px;}
.kpiBar .tabbable-custom > .nav-tabs > li > a{float:left;padding-top:14px;padding-left:10px;padding-right:10px;padding-bottom:14px;border:0px!important;width:100%;background:#FFF;border-radius:2px!important;min-height:70px;box-shadow:0 2px 3px #CCC;}
.kpiBar .tabbable-custom > .nav-tabs > li > a:hover{border:#eee;}
.arrow-down{width:0;height:0;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid #52c8b2;display:none;}
.kpiBar .tabbable-custom > .nav-tabs > li.active .arrow-down{display:inline-block;display:inline-block;position:absolute;bottom:-12px;left:50%;margin-left:-12px;}
.kpiBar .tabbable-custom > .nav-tabs > li.active a,.kpiBar .tabbable-custom > .nav-tabs > li:hover a{box-shadow:inset 0px -10px 0px #52c8b2!important;}
.kpiBar .indicator{float:left;font-size:40px;}
.list-leaves{margin:0px;list-style:none;padding:0;font-size:14px;color:#888;}
.list-leaves .list-group-item{padding:0px;margin-bottom:15px;position:relative;line-heighte-height:1.2;overflow:hidden;border-radius:4px!important;box-shadow:0px 3px 3px rgba(204,204,204,0.15);color:#FFF;border:none;height:75px;}
.list-leaves .list-group-item:hover,.list-leaves .list-group-item:active,.list-leaves .list-group-item:focus{background:#FFF;color:#FFF;}
.list-leaves .remaining{padding:10px 10px;display:inline-block;text-align:center;font-size:30px;font-weight:400;background:#09B192;position:relative;width:40%;margin-right:15px;line-height:1;height:75px;}
.list-leaves .single{padding-top:15px;}
.list-leaves .remaining .leaveremaining{display:block;text-align:center;font-size:11px;font-weight:400;color:#FFF;}
.list-leaves .remaining .left-arrow{position:absolute;right:0;top:50%;margin-top:-10px;z-index:10;width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #ffffff;}
.list-leaves .list-group-item .type{position:absolute;top:50%;margin-top:-4%;font-size:14px;color:#212121;}
.arrowsHolder{margin-left:10px;}

/* Inherit CSS for KPI bar ============================================================= */
.kpiBar .kpiDetail .value small{font-size:50%;position:absolute;top:5px;}

/* Inherit CSS for KPI bar ============================================================= */
.kpiBar .bot-text{position:relative!important;color:#2a2d33;font-weight:400;display:block;float:left;text-align:left;padding:4px 0 6px 0;font-size:14px;background:transparent!important;width:50%;}
.kpiBar .tabbable-custom > .nav-tabs > li .arrow_up{color:#50c14e!important;margin-left:6px;}
.kpiBar .arrow_down{color:#ff0000!important;margin-left:3px;}
.padding-10{padding:0px!important;}
.fc-event-container{position:relative;}
.fc-ltr .fc-basic-view .fc-day-number{position:relative;z-index:100;}
.fc-today-button{font-size:12px!important;text-transform:capitalize;}
.fc button{height:30px;background:transparent;}
.fc .fc-today-button{padding-left:10px!important;padding-right:10px!important;}

/* Responsive Classes ===================================================*/

/* Calender For Dashboard ============================================================= */
.portlet.calendar .fc-widget-header{background:#264658;color:#FFF;font-size:14px;text-transform:uppercase;padding-top:3px;padding-bottom:3px;border:none;font-weight:400;}
.portlet.calendar .fc-toolbar{background:#09b192;color:#FFF;padding:10px;border-top-right-radius:3px!important;border-top-left-radius:3px!important;}
.portlet.calendar .fc-toolbar h2{font-size:18px;padding-left:10px;line-height:28px;}
.fc-basic-view .fc-body .fc-row{height:73px!important;}
.portlet.calendar .fc-widget-header .fc-sun{background:transparent!important;}
.fc-event-container .lateHrs{background:#ffead5!important;border-color:#e2cdb8;color:#777777;}
.fc-event-container .otHrs{background:#e3e3ff;}
.fc-event-container .leaveHrs{background:#5fa217;border-color:#4c9200;color:#FFF;}
.fc-event-container .thanksday{background:#00bff3;border-color:#00bff3;color:#FFF;}
.fc-event-container .absent{background:#e33944;border-color:#e3000f;color:#FFF;}
.fc-event-container .fullBox{position:relative;top:0px;height:73px;text-align:left;border-radius:0px!important;margin-top:-29px!important;width:100%;padding:0px;margin:0px;border:0px;}
.fullBox .fc-content{padding-top:9px;padding-right:6px;text-align:right;font-size:11px;}
.payPeriod{background:none;border:none;text-align:right;font-size:11px;top:-22px;right:2px;}
.fc-sun,.fc-sat{background:#f9f9f9;border-color:#ccccea;}
.fc-row .fc-content-skeleton td.whiteText{color:#FFF!important;}
.icon_help{padding-bottom:11px!important;color:#999999!important;}
.icon_help:hover{background-color:#393939!important;color:#999999!important;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i.icon-power{color:#e3000f!important;}
.display-block{display:block!important;}

/* Calender For Dashboard ============================================================= */

/* Need to Move ============================================================= */
.dropdown-menu > li > form{display:inline-block;margin:0px;padding:0px;display:block;}
.dropdown-menu > li > form > a{padding:8px 16px;line-height:18px;white-space:nowrap;display:block;color:#555;}
.dropdown-menu > li > form > a i{width:15px;display:inline-block;margin-right:9px;}
.dropdown-menu > li > form > a:focus,.dropdown-menu > li > form > a:hover{background:#f8f9fa!important;}
.timeZoneDetail{font-size:11px;color:#FFF;padding-top:6px;padding-bottom:6px;padding-right:15px;padding-left:15px;}
.timeZoneDetail label{color:#E2D877!important;font-weight:normal;margin-bottom:0;}
.timeZoneDetail .timeZone{display:block;}
.site-search{padding-right:15px;}
.site-search input[type="text"]{width:200px;height:28px;padding-left:11px;float:left;color:#777;border:none!important;margin-top:9px;border-radius:4px!important;font-size:13px;background:#fff url("../../../images/icon-search-red.png") no-repeat 175px;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown{padding:0;}
.page-header.navbar .top-menu .navbar-nav > li{border-right:1px solid #444045;height:46px;}
.page-header.navbar .top-menu .navbar-nav > li.searchField{border-left:0px!important;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown:last-child{border-right:none;}
.page-header .form-control{/*height:38px;*/font-size:13px;background:transparent;color:#FFF;border:0;}
.page-header .ourProducts .btn{padding:5px 12px!important;font-size:13px;background:transparent;color:#E2D877!important;border-color:#2F3032;padding-left:0px!important;}
.page-header .ourProducts .btn:hover,.page-header .ourProducts .btn:focus,.page-header .ourProducts .btn:active{background:transparent;outline:none!important;border-color:transparent!important;}
.page-header .bootstrap-select .caret{margin-top:-8px!important;}
.page-header .ourProducts{margin-top:8px;padding-left:0px;border:0px;width:150px;}
.page-header .ourProducts .dropdown-menu > li > a{font-size:13px;}
.bootstrap-select .caret:before{content:"\f105"!important;}
.page-header .open .caret:before{/*content:"\f107"!important;*/}
.dropdown-menu > li > a {border-bottom: 1px #eff2f6 solid}
.dropdown-menu > li > a:focus,.dropdown-menu > li > a:hover{background:#DEF9F6!important;color: #444 !important}
.page-header .dropdown-menu > li.selected{display:none;}


.familyApps{width:100px!important;}
.familyApps a{padding-top:6px!important;padding-bottom:6px!important;color:#333333!important;}
.familyApps a:hover{background:#e5e5e5!important;color:#e04545!important;}
.familyApps a i{width:30px!important;color:#797979!important;}
.familyAppsMenu{padding-top:12px!important;}
.familyAppToggle{/*border-left:1px solid #444045!important;*/border-right:1px solid #262227 !important;}
.familyAppToggle .dropdown-menu:after{width:10px!important;left:15px!important;}
.familyAppToggle .dropdown-menu::before{width:10px!important;left:14px!important;}
.dropdown-menu {font-family: }

/* family icons ===================================================*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    border-bottom-color: #eff2f6 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    color: #888888;
}
.familyApps a {color: #333333 !important;padding-bottom: 6px !important;padding-top: 5px !important;line-height: 25px !important;}
.familyApps a i {
    color: #797979 !important;
    width: 30px !important;
}
.ibexFamily {background: url("../images/familyicons.svg") no-repeat 0 0;width: 18px; height: 18px;display: inline-block;text-align: center;position: relative;}
.ibexCore {background-position: 7px 2px; top: 5px}
.ibexInsight {background-position: 7px -23px; top: 5px}
.ibexForce {background-position: 7px -55px; top: 4px}
.ibexNr {background-position: 8px -83px; top: 4px}
.ibexQuartz {background-position: 7px -111px; top: 5px}
.ibexStatus {background-position: 10px -140px; top: 5.5px}
.ibexIsite {background-position: 7px -168px; top: 5.5px}
.ibexIvr {background-position: 8px -194px; top: 4px}
.ibexWebdialer {background-position: 9.5px -222px; top: 5px}
.ibexUltipro {background-position: 9.5px -246px; top: 5px}
.ibexAfiniti {background-position: 9.5px -269px; top: 5px}


/* Need to Move ============================================================= */
.disable{pointer-events:none!important;cursor:default!important;}
.searchField{width:260px;border;}

/* RESPONSIVE CLASSES ============================================================= */
@media (max-width:991px){
    .kpiBar .tabbable-custom > .nav-tabs > li{width:100%;margin-bottom:20px;}
    .kpiBar .tabbable-custom > .nav-tabs > li .value{display:block;text-align:right;}
    .kpiBar .kpiDetail{font-size:16px;float:right;}
    .kpiBar .tabbable-custom > .nav-tabs > li > a{width:100%;margin-bottom:0px!important;}
    .kpiBar .bot-text{font-size:18px;background:transparent!important;width:70%;}
}
@media (max-width:479px){
    .searchField{width:250px;}
    .page-header.navbar .top-menu .navbar-nav > li.familyAppToggle{position:relative;!important;top:0;}
}
@media (max-width:360px){
    .searchField{width:190px;}
}

/* RESPONSIVE CLASSES ============================================================= */
ul.burgerMenu{position:absolute;left:0px;}
.page-header.navbar .page-logo > .logo-image,.page-header.navbar .page-logo > a{display:inline-block;float:left;width:166px;}
.page-header.navbar .page-logo .logo-default{margin:10px 0 0 0px;}
.page-header.navbar .page-logo{width:220px;}
.feedbackTrigger{position:fixed;right:0px;bottom:0px;z-index:99;}
.feedbackTrigger button{border-top-left-radius:4px!important;border-top-right-radius:4px!important;font-size:100%;}
.modal-dialog{z-index:999!important;}
.modal-backdrop{z-index:1 important;}
.modal-dialog{width:960px;margin:30px auto;}
.points a{display:inline-block;border-radius:100%!important;border:1px solid;width:28px;height:28px;line-height:26px;background:#5fa217;border-color:#4c9200;color:#FFF;font-weight:bold;}
ul.mb30{margin-top:15px;}
ul.mb30 li{margin-bottom:15px;}
.icon-btn{height:75px;width:78px;}
.feedbackBox{border:1px solid #f1f1f1;background-color:#F5F5F5;padding-top:18px;margin-top:25px;}
.lh16{line-height:20px;}
.form-horizontal .control-label{padding-top:0;}
.modal-body .btn-default{color:#333;background-color:#E1F1FE;border-color:#BCE4FD;}
.modal-body .btn-default:hover,.modal-body .btn-default:active{background-color:transparent;border-color:transparent;}
.modal-footer{border:none;}
.button.close{opacity:1;}
.sub-menu a.closeMenu{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;position:absolute;right:15px;top:10px;border:solid 2px #454545;border-radius:40px!important;color:#c4c4c4;z-index:999;width:24px;height:24px;text-align:center;}
.sub-menu a.closeMenu .fa{line-height:normal;}
.sub-menu a.closeMenu:hover{color:rgba(214,70,53,1);background:#FFF;        /*border-color: rgba(214, 70, 53, 1);*/}
.slimScrollBar{opacity:0.8!important;}
.emptyLable{padding-top:8px;}
.page-bar .btn-group{margin-top:4px;}
.page-bar .btn-group i{font-size:18px;line-height:16px;}
.page-bar ul.menuItems{margin:0px;padding:0px;}
.page-bar .dropdown-menu{width:260px;}
.page-bar .scroller{padding-right:0px!important;}
.page-bar ul.menuItems li a{font-family:'Open Sans',sans-serif;font-size:13px;font-weight:400;border-bottom:1px solid rgb(233,234,237);border-left:3px solid transparent;display:block;padding:8px 6px;color:#333;}
.page-bar ul.menuItems li a:hover{border-left:3px solid #D64635;color:#D64635;background:rgba(221,221,221,0.15);}
.page-bar .btn-group .btn{height:32px;width:32px;}
.is_stuck .hideThis{display:none;}



.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#34495e!important;}

/* Date Picker Styling */
.has-icon{position:relative;}
.has-icon .form-control{padding-right:40px!important;}
.has-icon .icon{position:absolute;right:16px;z-index:10;top:0px;height:100%;width:34px;padding:0;line-height:34px;text-align:center;}
.datepicker table th.dow{background:rgba(204,204,204,0.10)!important;border-bottom:1px solid #DDD;border-top:1px solid #DDD;}
.datepicker table td{cursor:pointer!important;}
.inner-nav .slimScrollBar{background:rgb(187,187,187)!important;}

/*############################################################
                Material Design Customization
############################################################*/
.materialForm .panel-body{padding-left:0px;padding-right:0px;}
.form-group.form-md-line-input{position:relative;margin:0 0 0px 0!important;padding-top:20px;}
.modal-head .form-group.form-md-line-input{position:relative;margin:0 0 0px 0!important;padding-top:0px!important;}
.md-radio label > .box{border:2px solid #ccd0d9;}
.md-radio label > .check{background:#3379b5;}
.radio-btn-lbl{float:left;margin-right:10px;padding-top:4px;font-size:16px;}
.form-group.form-md-line-input.form-md-floating-label .form-control ~ label{font-size:15px;color:#676767;}
.form-group.form-md-line-input .form-control{border-bottom:1px solid #d1d1d1;font-weight:400;resize:none;transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease;}
select option{color:#347ab8;}
.datepicker table td{padding:7px 10px!important;}
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after,.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after,.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ label:after,.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ .form-control-focus:after{}
.has-error label{font-size:20px;}
.form-group.form-md-line-input.has-error .form-control{border-bottom:1px solid #D64635;color:#D64635;}
.form-group.form-md-line-input.has-error label{color:#D64635!important;}

/* -- Ripple effect -------------------------------- */

/* Default buttons */
.btn{border-width:0;padding:7px 14px;font-size:14px;outline:none!important;background-image:none!important;filter:none;text-shadow:none;}
.btn.dropdown-toggle,.btn-group .btn.dropdown-toggle,.btn:hover,.btn:disabled,.btn[disabled],.btn:focus,.btn:active,.btn.active{outline:none!important;background-image:none!important;filter:none;text-shadow:none;}
.btn + .btn{margin-left:0px;margin-right:5px;}
.btn-default{border-width:1px;padding:6px 13px;}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0;}

/* Bootstrap buttons */
.btn-default{color:#fff;background-color:#25D5C6;border-color:#25D5C6;}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active{color:#fff;background-color:#1fb5a8;border-color:#1fb5a8;}
.open .btn-default.dropdown-toggle{color:#666666;background-color:#d4d4d4;border-color:#b3b3b3;}
.btn-default:active,.btn-default.active{background-image:none;background-color:#c7c7c7;}
.btn-default:active:hover,.btn-default.active:hover{background-color:#cdcdcd;}
.open .btn-default.dropdown-toggle{background-image:none;}
.btn-default.disabled,.btn-default.disabled:hover,.btn-default.disabled:focus,.btn-default.disabled:active,.btn-default.disabled.active,.btn-default[disabled],.btn-default[disabled]:hover,.btn-default[disabled]:focus,.btn-default[disabled]:active,.btn-default[disabled].active,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default:hover,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default.active{background-color:#E6E6E6;border-color:#ccc;}
.btn-default .badge{color:#E6E6E6;background-color:#666666;}
.btn-default > i{color:#aaa;}
.btn-default > i[class^="icon-"],.btn-default > i[class*="icon-"]{color:#8c8c8c;}
.btn-primary{color:#fff;background-color:#05AAFF;border-color:#05AAFF;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active{color:#fff;background-color:#0697e2;border-color:#0697e2;}
.open .btn-primary.dropdown-toggle{color:#fff;background-color:#009cb0;border-color:#007888;}
.btn-primary:active,.btn-primary.active{background-image:none;background-color:#008697;}
.btn-primary:active:hover,.btn-primary.active:hover{background-color:#008fa1;}
.open .btn-primary.dropdown-toggle{background-image:none;}
.btn-primary.disabled,.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled:active,.btn-primary.disabled.active,.btn-primary[disabled],.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled]:active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:hover,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary.active{background-color:#00BCD4;border-color:#00a5bb;}
.btn-primary .badge{color:#00BCD4;background-color:#fff;}
.btn-success{color:#fff;}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active{color:#fff;}
.open .btn-success.dropdown-toggle{color:#fff;background-color:#1f897f;border-color:#186860;}
.btn-success:active,.btn-success.active{background-image:none;background-color:#1b746c;}
.btn-success:active:hover,.btn-success.active:hover{background-color:#1c7d74;}
.open .btn-success.dropdown-toggle{background-image:none;}
.btn-success.disabled,.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled:active,.btn-success.disabled.active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled]:active,.btn-success[disabled].active,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success.active{background-color:#26A69A;border-color:#219187;}
.btn-success .badge{color:#26A69A;background-color:#fff;}
.btn-info{color:#fff;background-color:#89C4F4;border-color:#72b8f2;}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active{color:#fff;background-color:#68b4f1;border-color:#43a1ed;}
.open .btn-info.dropdown-toggle{color:#fff;background-color:#68b4f1;border-color:#43a1ed;}
.btn-info:active,.btn-info.active{background-image:none;background-color:#51a8ef;}
.btn-info:active:hover,.btn-info.active:hover{background-color:#5aadf0;}
.open .btn-info.dropdown-toggle{background-image:none;}
.btn-info.disabled,.btn-info.disabled:hover,.btn-info.disabled:focus,.btn-info.disabled:active,.btn-info.disabled.active,.btn-info[disabled],.btn-info[disabled]:hover,.btn-info[disabled]:focus,.btn-info[disabled]:active,.btn-info[disabled].active,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info:hover,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info.active{background-color:#89C4F4;border-color:#72b8f2;}
.btn-info .badge{color:#89C4F4;background-color:#fff;}
.btn-warning{color:#fff;background-color:#ff5722;border-color:#ff4408;}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active{color:#fff;background-color:#fd3d00;border-color:#d43300;}
.open .btn-warning.dropdown-toggle{color:#fff;background-color:#fd3d00;border-color:#d43300;}
.btn-warning:active,.btn-warning.active{background-image:none;background-color:#e43700;}
.btn-warning:active:hover,.btn-warning.active:hover{background-color:#ee3900;}
.open .btn-warning.dropdown-toggle{background-image:none;}
.btn-warning.disabled,.btn-warning.disabled:hover,.btn-warning.disabled:focus,.btn-warning.disabled:active,.btn-warning.disabled.active,.btn-warning[disabled],.btn-warning[disabled]:hover,.btn-warning[disabled]:focus,.btn-warning[disabled]:active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning:hover,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning.active{background-color:#ff5722;border-color:#ff4408;}
.btn-warning .badge{color:#ff5722;background-color:#fff;}
.btn-danger{color:#fff;background-color:#EB0045;border-color:#EB0045;}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active{color:#fff;background-color:#ce013d;border-color:#ce013d;}
.open .btn-danger.dropdown-toggle{color:#fff;background-color:#f1353d;border-color:#ec111b;}
.btn-danger:active,.btn-danger.active{background-image:none;background-color:#ef1d26;}
.btn-danger:active:hover,.btn-danger.active:hover{background-color:#f0262f;}
.open .btn-danger.dropdown-toggle{background-image:none;}
.btn-danger.disabled,.btn-danger.disabled:hover,.btn-danger.disabled:focus,.btn-danger.disabled:active,.btn-danger.disabled.active,.btn-danger[disabled],.btn-danger[disabled]:hover,.btn-danger[disabled]:focus,.btn-danger[disabled]:active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger:hover,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger.active{background-color:#F3565D;border-color:#f13e46;}
.btn-danger .badge{color:#F3565D;background-color:#fff;}

/* Button sizes */
.btn > i{font-size:14px;}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;vertical-align:middle;}
.btn-lg > i{font-size:18px;}
.btn-sm,.btn-xs{padding:4px 10px 5px 10px;font-size:13px;line-height:1.5;}
.btn-sm > i,.btn-xs > i{font-size:13px;}
.btn-xs{padding:1px 5px;}
.btn-xs > i{font-size:12px;}

/* Small button in button group */
.btn-group .input-sm .btn-default{padding-top:3px;padding-bottom:3px;}

/* Arrow link */
.btn-arrow-link{vertical-align:middle;display:inline-block;font-size:13px;}
.btn-arrow-link > i{font-size:14px;line-height:14px;vertical-align:top;margin:2px 3px 2px 3px;color:#999;}
.btn-arrow-link.btn-arrow-link-lg{font-size:14px;}
.btn-arrow-link.btn-arrow-link-lg > i{font-size:16px;line-height:16px;margin:2px 3px 1px 3px;}

/* Circle Buttons */
.btn-circle{border-radius:25px!important;}
.btn-circle-right{border-radius:0 25px 25px 0!important;}
.btn-circle-left{border-radius:25px 0 0 25px!important;}
.btn-circle-bottom{border-radius:0 0 25px 25px!important;}
.btn-circle-top{border-radius:25px 25px 0 0!important;}
.btn-icon-only{height:34px;width:34px;text-align:center;padding-left:0;padding-right:0;}
.btn-icon-only > [class^="icon-"],.btn-icon-only > i{text-align:center;margin-top:2px;}
.btn-sm > [class^="glyphicon-"],.btn-sm > [class*=" glyphicon-"],.btn-sm > i{font-size:13px;}
.btn-xs > [class^="glyphicon-"],.btn-xs > [class*=" glyphicon-"],.btn-xs > i{font-size:11px;}
.btn-group.btn-group-circle > .btn:first-child{border-radius:25px 0 0 25px!important;}
.btn-group.btn-group-circle > .btn:last-child{border-radius:0 25px 25px 0!important;}
.btn-group.btn-group-devided > .btn{margin-right:5px;}
.btn-group.btn-group-devided > .btn:last-child{margin-right:0;}
.btn-group-vertical.btn-group-vertical-circle > .btn:first-child{border-radius:25px 25px 0 0!important;}
.btn-group-vertical.btn-group-vertical-circle > .btn:last-child{border-radius:0 0 25px 25px!important;}
.btn{font-size:12px;font-weight:600;text-transform:uppercase;transition:box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border-width:0!important;overflow:hidden;position:relative;padding:9px 14px 8px 14px;}
.search-form .btn,.btn-theme-panel .btn{box-shadow:none!important;overflow:visible;}
.btn.btn-link{box-shadow:none;color:#444444;}
.btn.btn-link:hover{text-decoration:none;}
.btn > i{margin-top:0;margin-left:3px;margin-right:3px;}
.btn.btn-sm{font-size:11px;padding:6px 18px 6px 18px;}
.ivrListing .btn.btn-xs{font-size:11px;padding:3px 2px 3px 2px;}
.btn.btn-lg{font-size:16px;padding:12px 26px 10px 26px;}
.btn.btn-icon-only{padding-left:0;padding-right:0;}
.btn.btn-icon-only > i{margin-left:0;margin-right:0;}
.portlet.light{border-radius:0px;}
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after,.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after,.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ label:after,.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ .form-control-focus:after{}

/*.ripple-effect {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.ink {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: #fff;
    opacity: 1;
}

    .ink.animate {
        -webkit-animation: ripple .5s linear;
        -moz-animation: ripple .5s linear;
        -ms-animation: ripple .5s linear;
        -o-animation: ripple .5s linear;
        animation: ripple .5s linear;
    }

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@-ms-keyframes ripple {
    100% {
        opacity: 0;
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
        transform: scale(2.5);
    }
}


.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: #00bcd4;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  width: 650px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #00bcd4;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: translate3d(110px, 0, 0);
          transform: translate3d(110px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
          transition-duration: 290ms;
  -webkit-transform: translate3d(220px, 0, 0);
          transform: translate3d(220px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
          transition-duration: 390ms;
  -webkit-transform: translate3d(330px, 0, 0);
          transform: translate3d(330px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 490ms;
          transition-duration: 490ms;
  -webkit-transform: translate3d(440px, 0, 0);
          transform: translate3d(440px, 0, 0);
}*/

/*############################################################
                Material Design Customization
############################################################*/



.sb-search{position:relative;margin-top:9px;width:0%;min-width:34px;height:36px;float:right;overflow:hidden;margin-right:10px;-webkit-transition:width 0.3s;-moz-transition:width 0.3s;transition:width 0.3s;-webkit-backface-visibility:hidden;}
.sb-search-input{position:absolute;top:0;right:0;border:none;outline:none;background:#fff;width:100%;height:30px;margin:0;z-index:10;padding:0px 65px 0px 10px;font-family:inherit;font-size:13px;color:#333;}
.sb-search-input::-webkit-input-placeholder{color:#333;}
.sb-search-input:-moz-placeholder{color:#333;}
.sb-search-input::-moz-placeholder{color:#333;}
.sb-search-input:-ms-input-placeholder{color:#333;}
.sb-icon-search,.sb-search-submit{width:36px;height:30px;display:block;position:absolute;right:0;top:0;padding:0;margin:0;line-height:30px;text-align:center;cursor:pointer;}
.sb-search-submit{background:#fff; /* IE needs this */-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */filter:alpha(opacity=0); /* IE 5-7 */opacity:0;color:transparent;border:none;outline:none;z-index:-1;}
.sb-icon-search{color:#999999;background:#2f3032;z-index:90;font-size:16px;font-family:'Simple-Line-Icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;}
.sb-icon-search:before{content:"\e090";}

/* Open state */
.sb-search.sb-search-open,.no-js .sb-search{width:100%;}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search{background:#d64635;color:#fff;z-index:11;}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit{z-index:90;}
.posrelative{position:relative!important;}
.bootstrap-select .dropdown-toggle{background:transparent;box-shadow:none;padding-left:0px;}
.bootstrap-select .dropdown-toggle:hover{box-shadow:none;}
.bootstrap-select .dropdown-menu > li > a{font-size:13px;padding:6px 8px;line-height:1.6;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{color:#3379b5;font-size:14px;text-transform:capitalize!important;font-weight:400!important;padding-bottom:3px!important;}
.bootstrap-select .caret:before{content:""!important;display:inline-block;border:0;font-family:FontAwesome;font-style:normal;font-weight:normal;}
.bootstrap-select.open.dropup .btn{background:#FFF;}
.bootstrap-select .bs-searchbox{position:relative;}
.bootstrap-select .bs-searchbox:after{content:"\e090";font-family:Simple-Line-Icons;position:absolute;z-index:10;right:12px;top:10px;color:#333;font-size:14px;}
.bootstrap-select .bs-searchbox .form-control{color:#333;}
.open .btn-default.dropdown-toggle{color:#666666;background-color:transparent!important;border-color:transparent;box-shadow:none!important;}
.bootstrap-select.btn-group .dropdown-menu li a{font-family:"Open Sans",sans-serif;font-weight:400;}
.bootstrap-select.btn-group .dropdown-toggle .caret{right:0px!important;}
.footerBtn .btn{padding-left:34px;padding-right:34px;}
.searchBar .btn{margin-top:19px;}
.AddEmployee .form-md-floating-label{margin:0 0 10px 0!important;}

.nopadding {padding: 0px !important}
.pr-10 {padding-right: 10px !important}
.pl-10 {padding-left: 10px !important}

select {background-color: #ffffff !important; width: 100%; padding: 5px !important; border: 1px solid #dfdfdf !important; border-radius: 2px !important; height: 3rem; }
.loginBody select {border:0px !important;}

.vHeight .row {margin:20px 0 10px;}
.vHeight .row div:first-child {padding-left: 0px}
.vHeight .row div:last-child {padding-right: 0px}

.myselect {width: 100% !important}
.numeric {height:1.8em !important;}
.k-widget.k-numerictextbox.numeric {margin-top: -14px; width: 100%}


@media (min-width:350px) and (max-width:1200px) {
    .modal-dialog {width: 95%}
}
@media (max-width:479px){
    .page-header.navbar .page-logo{width:200px;}
    .pr-10 {padding-right: 0px !important}
    .pl-10 {padding-left: 0px !important}
}

.page-header {border-bottom-width: 0px !important}