.nt-login-failure
{
	color:red!important;
	font-weight: bold;
}
.paging-nav {

  text-align: right;

  padding-top: 2px;

}

.paging-nav a {

  margin: auto 1px;

  text-decoration: none;

  display: inline-block;

  padding: 1px 7px;

  background: #91b9e6;

  color: white;

  border-radius: 3px;

}

.paging-nav .selected-page {

  background: #187ed5;

  font-weight: bold;

}
.overlay
{
	z-index:9999!important;
}
#upload-wrapper {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background: #3D91A2;
  padding: 50px;
  border-radius: 10px;
}
#upload-wrapper h3 {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 20px 0px;
  margin-top: -30px;
  border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
  border: 1px solid #DDD;
  padding: 6px;
  background: #FFF;
  border-radius: 5px;
}
#upload-wrapper #submit-btn {
  border: none;
  padding: 10px;
  background: #61BAE4;
  border-radius: 5px;
  color: #FFF;
}
#output{
  padding: 5px;
  font-size: 12px;
}
#output img {
  border: 1px solid #DDD;
  padding: 5px;
}

/* progress bar style */
#progressbox {
  border: 1px solid #92C8DA;
  padding: 1px; 
  position:relative;
  width:400px;
  border-radius: 3px;
  margin: 10px;
  display:none;
  text-align:left;
}
#progressbar {
  height:20px;
  border-radius: 3px;
  background-color: #77E0FA;
  width:1%;
}
#statustxt {
  top:3px;
  left:50%;
  position:absolute;
  display:inline-block;
  color: #000000;
}