/*
	================= IBEX IVR 1.0 (18-Dec-2014) =================
	** IMPORT BOOTSTRAP - All bootstrap css included
	** COMMON CLASSES - All classes and components that needs to be same on overall application should be added or edited here.
	** LOGIN PAGE - All classes, styles related to login page
*/

/*----- IMPORT CSS ----------*/
@import url(font-awesome.css);
*{outline:0px;}
.slashBottom{margin-bottom:0!important}
.addSpace{padding:18px;border-top:5px #EBE7E4 solid}
.text-red,a.text-red{color:#EB0045;}
.text-red,a.text-red i{font-size:12px}
a.text-red:hover{color:#e02225}
.text-blue,a.text-blue{color:#0080DA}
.text-blue,a.text-blue i{font-size:12px}
a.text-blue:hover{color:#186db6}
.text-gray,a.text-gray{color:#8f8f8f}
.text-gray,a.text-gray i{font-size:12px!important}
a.text-gray:hover{color:#b6c7d6}
.text-green,a.text-green{color:#5cb85c}
.text-green,a.text-green i{font-size:12px}
a.text-green:hover{color:#449d44}
#topReportForm .input-group-btn .btn{padding-top:7px}
.btn-green{background:rgb(39,167,97);background:-moz-linear-gradient(top,rgba(39,167,97,1) 0%,rgba(39,151,92,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(39,167,97,1)),color-stop(100%,rgba(39,151,92,1)));background:-webkit-linear-gradient(top,rgba(39,167,97,1) 0%,rgba(39,151,92,1) 100%);background:-o-linear-gradient(top,rgba(39,167,97,1) 0%,rgba(39,151,92,1) 100%);background:-ms-linear-gradient(top,rgba(39,167,97,1) 0%,rgba(39,151,92,1) 100%);background:linear-gradient(to bottom,rgba(39,167,97,1) 0%,rgba(39,151,92,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#27a761',endColorstr='#27975c',GradientType=0);color:#FFF}
.btn-green:hover,.btn-green:focus{background:rgb(39,167,97);background:-moz-linear-gradient(top,rgba(39,151,92,1) 100%),rgba(39,167,97,1) 0%;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(39,151,92,1)),color-stop(100%,rgba(39,151,92,1)));background:-webkit-linear-gradient(top,rgba(39,151,92,1) 0%,rgba(39,151,92,1) 100%);background:-o-linear-gradient(top,rgba(39,151,92,1) 0%,rgba(39,151,92,1) 100%);background:-ms-linear-gradient(top,rgba(39,151,92,1) 0%,rgba(39,151,92,1) 100%);background:linear-gradient(to bottom,rgba(39,151,92,1) 0%,rgba(39,151,92,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#27a761',endColorstr='#27975c',GradientType=0);color:#FFF}
.btn-grey{background:rgb(237,239,240);background:-moz-linear-gradient(top,rgba(237,239,240,1) 0%,rgba(223,225,226,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(237,239,240,1)),color-stop(100%,rgba(223,225,226,1)));background:-webkit-linear-gradient(top,rgba(237,239,240,1) 0%,rgba(223,225,226,1) 100%);background:-o-linear-gradient(top,rgba(237,239,240,1) 0%,rgba(223,225,226,1) 100%);background:-ms-linear-gradient(top,rgba(237,239,240,1) 0%,rgba(223,225,226,1) 100%);background:linear-gradient(to bottom,rgba(237,239,240,1) 0%,rgba(223,225,226,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeff0',endColorstr='#dfe1e2',GradientType=0);}
.btn-grey:hover,.btn-grey:focus{background:rgb(237,239,240);background:-moz-linear-gradient(top,rgba(223,225,226,1) 0%,rgba(223,225,226,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(223,225,226,1)),color-stop(100%,rgba(223,225,226,1)));background:-webkit-linear-gradient(top,rgba(223,225,226,1) 0%,rgba(223,225,226,1) 100%);background:-o-linear-gradient(top,rgba(223,225,226,1) 0%,rgba(223,225,226,1) 100%);background:-ms-linear-gradient(top,rgba(223,225,226,1) 0%,rgba(223,225,226,1) 100%);background:linear-gradient(to bottom,rgba(223,225,226,1) 0%,rgba(223,225,226,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeff0',endColorstr='#dfe1e2',GradientType=0);}
.btn.extend{padding:11px 16px;height:38px;}
a.text-green:hover{color:#32c275}
tr.disable{color:#8598a8}
a,.form-control{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
header{width:100%;height:57px;background-color:#312C32;border-bottom:solid 3px #EA2225;}
.navbar-default.affix{width:100%;top:0;z-index:10}
.navbar-header p{font-size:16px;font-weight:bold;margin-bottom:0;padding-left:15px;padding-top:15px;}
.showHideHeader{position:absolute;left:0;z-index:99;margin-top:13.5px;margin-left:-3px;}
.showHideHeader i{font-size:17px}
.logo{margin-top:13px;float:left;}
.profile{height:57px;float:right;}
.profile .prfName strong{display:block}
.visible-xs,.pageHeading,.pageHeading .inline-element,.page-header .dropdown,.remembercheck{float:left;}
.prfImg,.paginationNav,.lblforgetPass{text-align:center;}
.prfImg,.searchCrt,.paginationNav,.lblforgetPass a{color:#EB0045!important;font-size:11px}
.searchCrt .dropdown-menu{padding-bottom:0px}
.searchCrt .dropdown-menu label{font-weight:normal;}
.profile button{background:transparent;border:none;color:#f0f0f0;font-size:12px;padding:11px 0;}
.profile .prfDate{color:#878687;font-size:11px;}
.profile .prfName{color:#bdbbbd;font-size:12px;margin-right:12px;margin-top:8px;float:left;}
.search-hold{width:180px;background-color:#FFF;-webkit-border-radius:3px;border-radius:3px;float:left;}
.profile .dropdown-menu > li > a{border-left:4px solid transparent;padding-top:8px;padding-bottom:8px;font-size:12px;}
.profile .dropdown-menu > li > a:hover,.profile .dropdown-menu > li > a:focus{border-left-color:#ea2529;}
.profile .dropdown-menu i{margin-right:12px;font-size:13px;}
.nav-wrapper{min-height:50px;margin-bottom:20px;}
.inline-element{display:inline-block;}
.dd-menu-md{width:355px!important;}
.dd-menu-md .row:nth-child(1n){margin-bottom:10px}
.dd-menu-md .row:nth-child(2n){margin-bottom:0px}
.dd-menu-md .form-group{margin-right:5%;margin-right:3%\9;float:none;}
.dd-menu-md .form-group:nth-child(even){margin-right:0;}
.analytic-report .form-group{margin-right:5%;margin-right:3%\9;float:left;}
.analytic-report .form-group:nth-child(1n){margin-right:0%;margin-bottom:15px;float:none;width:100%;}
.analytic-report .form-group:nth-child(2n){margin-right:5%;width:47%;float:left;}
.analytic-report .form-group:nth-child(3n){margin-right:0%;width:47%;float:left;}
.analytic-report .form-group:nth-child(4n){margin-right:5%;width:47%;float:left;}
.analytic-report .form-group:nth-child(5n){margin-right:0%;width:47%;float:left;}
.actionPanel{float:left;width:100%;padding:10px 15px;background-color: rgba(152, 153, 155, 0.2);margin-top:25px}
.actionPanel .btn-primary{float:right;}
.page-header{margin-top:10px;margin-bottom:10px;}
.page-header h3{margin:0;margin-right:8px;margin-top:0px;line-height: 34px}
.page-header .dropdown{margin-left:5px;}
.page-header .btnHold{float:left;}
.search-hold .btn,.search-hold .form-control{border-color:#cccccc;color:#666666}
.search-hold .form-control:focus{border-color:#66afe9}
.search-hold .btn:hover,.search-hold .btn:focus{}
.loginBody{position:relative;display:flex;width:100%;height:100%;padding:15px 0;background:#F1F1F1; align-items:center;justify-content:center;}
.loginBody footer{font-size:12px;color:#999999;padding:12px 0;border-top:solid 1px #e5e5e5;position:absolute;bottom:0;left:0;right:0;background:#ffffff}


.adminFields {}

section.login{display:table-cell;vertical-align:middle;}
section.login .container{max-width:390px;padding-bottom:50px;}
section.login .logo{width:137px;height:32px;background-image:url(../images/ivr-login-logo.svg);}
section.login p{font-size:15px;margin-bottom:20px;margin-top:10px;}
section.login .radio,.checkbox{margin:0;}
section.login .formContainer{width:100%;display:inline-block;background-color:#fff;padding:25px;margin:25px 0 30px;-webkit-border-radius:4px;border-radius:4px;-webkit-box-shadow:2px 2px 0px 0 #d8d8d8;box-shadow:2px 2px 0px 0 #d8d8d8;}
section.login .form-inline .input-group{border:solid 1px #ebebeb;overflow:hidden;}
section.login .form-group,section.login .form-inline .input-group{width:100%;margin-bottom:10px;float:left}
section.login .form-inline .checkbox label,section.login .form-inline .forgotpwd{font-size:12px;}
section.login .form-inline .checkbox input[type="checkbox"]{margin-right:3px;margin-top:2px;float:left;}
section.login .input-group-addon{width:55px!important;border-radius:0;border:none;border-right:solid 1px #ebebeb;background-color:#f8f8f8;}
section.login .form-inline .input-group.top{border-radius:4px 4px 0 0;border-bottom:0px}
section.login .form-inline .input-group.middle{border-radius:0;}
section.login .form-inline .input-group.bottom{border-radius:0 0 4px 4px;}
section.login .form-inline .input-group.middle,section.login .form-inline .input-group.bottom{margin-top:-1px;}
section.login .form-control{border-color:transparent;border-radius:0;background-color:#f8f8f8;height:50px;position:relative;}
section.login .form-control:focus{background-color:#fff;z-index:1;}
section.login .btn{width:100%;}
.loginBody .input-group-addon i{color:#919191;font-size:19px}
.loginBody input.form-control:focus{border-bottom:0px rgba(0,0,0,0) solid!important}
.loginBody .md-checkbox label > .box{height:16px!important;width:16px!important;border-color:#919191!important;margin-top:2px}
.loginBody .md-checkbox label{font-size:13px;font-weight:100}
.chvStats{padding:0;color:#FFF;background-color:#528ba8}
.chvStats ul li{width:50%;float:left;padding:29px 0;border-right:solid 1px #86aec2;border-bottom:solid 1px #86aec2;}
.chvStats ul li .count{font-size:30px;}
footer{width:100%;float:left;font-size:12px;color:#999999;padding:12px 0;margin-top:20px;border-top:solid 1px #e5e5e5;background-color:#ffffff;bottom:0px;z-index:9; /*position: absolute;*/}
.ico{width:16px;height:16px;margin-right:5px;float:left;}
.ico.ico-transfer{background:url(../images/icon-transfer.png) no-repeat;}
.ico.ico-goto{background:url(../images/icon-goto.png) no-repeat;}
.busyAddBtn a:hover,.busyAddBtn a:focus{text-decoration:none;}
.busyAddBtn select{width:92%;float:left;}
.busyAddBtn .glyphicon-plus-sign{font-size:16px;color:#27A360;margin:5px 0px 0px 5px;float:left;}
.busyAddBtn .glyphicon-minus-sign{font-size:16px;color:#E02225;margin:5px 0px 0px 5px;float:left;}
select{line-height:24px!important}
.noleftrightpading{padding-left:0!important;padding-right:0px!important}
.subNav{background:#edeff0;background:-moz-linear-gradient(top,#edeff0 0%,#edeff0 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#edeff0),color-stop(100%,#edeff0));background:-webkit-linear-gradient(top,#edeff0 0%,#edeff0 100%);background:-o-linear-gradient(top,#edeff0 0%,#edeff0 100%);background:-ms-linear-gradient(top,#edeff0 0%,#edeff0 100%);background:linear-gradient(to bottom,#edeff0 0%,#edeff0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeff0',endColorstr='#edeff0',GradientType=0);-webkit-border-radius:0;border-radius:0;margin-top:0px;}
.subNav ul{overflow:hidden;list-style:none;padding:0px;}
.subNav ul li{float:none;border-bottom:1px solid #e2e2e2;border-left:0px solid #fff;}
.subNav ul li:first-child{border-left:none;}
.subNav ul li:last-child{border-right:none;border-bottom:none;}
.subNav ul li a{font-weight:normal;color:#303641;padding:11px 16px 11px 44px!important;display:block;height:29.7px}
.subNav ul li a:hover,.subNav ul li a:focus,.subNav ul li a:active{text-decoration:none;background-color:#DEE0E1!important;cursor:move;}
.subNav ul li a.playBtn{background:url(../images/ico-subnav-play.svg) no-repeat 14px -1.5px;padding-left:14px;margin-left:0px}
.subNav ul li a.menuBtn{background:url(../images/ico-subnav-menu.svg) no-repeat 13px -2px;padding-left:16px;}
.subNav ul li a.inputBtn{background:url(../images/ico-subnav-input.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.recordBtn{background:url(../images/ico-subnav-record.svg) no-repeat 11.5px -2px;padding-left:21px;}
.subNav ul li a.URIBtn{background:url(../images/ico-subnav-uri.svg) no-repeat 13px -2px;padding-left:20px;}
.subNav ul li a.confirmationBtn{background:url(../images/ico-subnav-confirmation.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.terminate{background:url(../images/ico-subnav-terminate.svg) no-repeat 12px -4px;padding-left:20px;}
.subNav ul li a.speakBtn{background:url(../images/ico-subnav-speak.png) no-repeat 15px center;padding-left:15px;}
.subNav ul li a.systemBtn{background:url(../images/ico-subnav-systemsprompt.png) no-repeat 10px center;padding-left:21px;}
.subNav ul li a.hangBtn{background:url(../images/ico-subnav-hangup.png) no-repeat 10px center;padding-left:25px;}
.subNav ul li a.gotoBtn{background:url(../images/ico-subnav-goto.png) no-repeat 10px center;padding-left:25px;}
.subNav ul li a.keypressBtn{background:url(../images/ico-subnav-keypress.svg) no-repeat 13px -2px;padding-left:25px;}
.subNav ul li a.ifBtn{background:url(../images/ico-subnav-if.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.functionBtn{background:url(../images/ico-subnav-function.svg) no-repeat 11px -2px;padding-left:21px;}
.subNav ul li a.variableBtn{background:url(../images/ico-subnav-variable.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.uriBtn{background:url(../images/ico-subnav-uri.svg) no-repeat 13px 4px;padding-left:22px;}
.subNav ul li a.legalBtn{background:url(../images/ico-subnav-legal.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.languageBtn{background:url(../images/ico-subnav-language.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.ttsBtn{background:url(../images/ico-subnav-tts.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.setValue{background:url(../images/ico-subnav-setValue.svg) no-repeat 13px -3px;padding-left:22px;}
.subNav ul li a.audioBtn{background:url(../images/ico-subnav-audio.svg) no-repeat 13px -2px;padding-left:22px;}
.subNav ul li a.transferBtn{background:url(../images/ico-subnav-transfer.svg) no-repeat 13px -2px;padding-left:20px;}


a.menuBtnSurvay{background:#edeff0 url(../images/ico-subnav-menu.svg) no-repeat 10px 0px;padding:9px 16px 8px 30px;position: relative;top:1px; color:#384047; text-transform: uppercase;-webkit-border-radius:2px;border-radius:2px;font-weight: 600;font-size: 12px}
a.menuBtnSurvay:hover {background-color:#dee0e1;color:#384047;text-decoration:none}
.ivrDesignerBarNav{float:left;width:42px}
.ivrDesignerBarNav .subNav div ul {margin-top:0px; margin-bottom:0}
.contIVR{padding:0.1px 4px 0 4px;}

#xmlEditor{margin-left:0px;display:block;background:#fff;position:absolute;margin-top:10px;width:99.5%;z-index:9;-webkit-border-radius:3px;border-radius:3px;height:510px}
#xmlEditor textarea{-webkit-border-radius:3px;border-radius:3px;width:100%;border:1px #fff solid;padding:10px;resize:none;position:relative;height:98%;margin:0;border:1px #ddd solid;}
#xmlEditor textarea:focus{border:1px #cccccc solid}
#xmlEditor .collapse{display:none;overflow:hidden;}
#xmlEditor .collapse textarea{display:none!important;padding:0px;border:0px;overflow:hidden;}
.table tbody td{line-height:18px!important}
.table tbody td .radio-inline input{margin-top:2px}
.menuDisable{}
.menuDisable ul{}
.menuDisable ul li{}
.menuDisable ul li a{pointer-events:none;cursor:default;opacity:.4;}

.redarrow_box{display:block;width:100%;margin-bottom:10px;padding-left:0px;padding-right:0px}
.redarrow_box p{margin-bottom:0px;font-size:16px;color:#222222;float:left;margin:5px 0px 0px 0px;}
.redarrow_box ul.rightLinks{list-style:none;margin:0px;float:right;padding-left:0px}
.redarrow_box ul.rightLinks li{float:left;margin-left:10px}
.redarrow_box ul.rightLinks li a{}
.redarrow_box ul.rightLinks li a:hover{text-decoration:none;}
.redarrow_box{position:relative;background:transparent;-webkit-border-radius:0px;border-radius:0px;}
/*
.redarrow_box:after,redarrow_box:before{top:100%;left:1%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.redarrow_box:after{border-color:rgba(225,75,61,0);border-top-color:#e14b3d;border-width:10px;margin-left:-10px;}
.redarrow_box:before{border-color:rgba(225,75,61,0);border-top-color:#e14b3d;border-width:11px;margin-left:-11px;}
*/
.IVRAcc #MainMenu{list-style:none;margin:0;padding:0;margin-left:2%;padding-left:2.5%;border-left:2px solid #edeff0;}
.IVRAcc .panel{border:none;}
.IVRAcc .panel a.list-group-item{background:#f1f1f1;background:-moz-linear-gradient(top,#f1f1f1 0%,#e6e6e6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f1f1f1),color-stop(100%,#e6e6e6));background:-webkit-linear-gradient(top,#f1f1f1 0%,#e6e6e6 100%);background:-o-linear-gradient(top,#f1f1f1 0%,#e6e6e6 100%);background:-ms-linear-gradient(top,#f1f1f1 0%,#e6e6e6 100%);background:linear-gradient(to bottom,#f1f1f1 0%,#e6e6e6 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e6e6e6',GradientType=0);border:none;color:#384047;padding:5px 10px;-webkit-border-radius:4px;border-radius:4px;padding:12px 25px 12px 15px;margin:7px 0px 0px 0px;font-size:12px;position:relative;}
.IVRAcc .thirdlevel .delete{top:18px!important;}
.IVRAcc .thirdlevel span.bariv{position:relative;display:inline-block;width:100%}
.IVRAcc .list-group-item-success{background:none;}
.IVRAcc .secondLevel{background:url(../images/img-dottedline.png) repeat-y 10px top;margin-left:1%;padding-left:3.5%;margin-bottom:10px;}
.IVRAcc .thirdlevel{margin-left:10px;padding:0px;}
.IVRAcc .panel a.list-group-item[aria-expanded="true"]{background:#d1e8f5;background:-moz-linear-gradient(top,#d1e8f5 0%,#c7e0ee 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d1e8f5),color-stop(100%,#c7e0ee));background:-webkit-linear-gradient(top,#d1e8f5 0%,#c7e0ee 100%);background:-o-linear-gradient(top,#d1e8f5 0%,#c7e0ee 100%);background:-ms-linear-gradient(top,#d1e8f5 0%,#c7e0ee 100%);background:linear-gradient(to bottom,#d1e8f5 0%,#c7e0ee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e8f5',endColorstr='#c7e0ee',GradientType=0);}
.IVRAcc .panel a.leftarrow[aria-expanded="true"]:after{border-color:rgba(241,241,241,0);border-right-color:#CDE5F3;border-width:10px;margin-top:-10px;}
.IVRAcc .panel a.leftarrow[aria-expanded="true"]:before{border-color:rgba(164,187,221,0);border-right-color:#CDE5F3;border-width:10px;margin-top:-10px;}
.IVRAcc .panel a.list-group-item[aria-expanded="false"]{}
.IVRAcc .titleHead .marker{position:absolute;left:-34px;top:15px;width:10px;height:10px;background:#e84c3d;-webkit-border-radius:50%;border-radius:50%;}
.IVRAcc .titleHead .submarker{position:absolute;left:-31px;top:15px;color:#E14B3D;width:10px;height:10px;border:3px solid #e84c3d;-webkit-border-radius:50%;border-radius:50%;background-color:#fff;}
.IVRAcc .titleHead{position:relative;}
.IVRAcc .titleHead .delete{position:absolute;top:12px;right:10px;z-index:7;color:#8f8f8f;}
.IVRAcc .leftarrow{position:relative;}
.IVRAcc .leftarrow:after,.IVRAcc .leftarrow:before{right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.IVRAcc .leftarrow:after{border-color:rgba(241,241,241,0);border-right-color:#ECECEC;border-width:10px;margin-top:-10px;}
.IVRAcc .leftarrow:before{border-color:rgba(164,187,221,0);border-right-color:#DADCDD;border-width:10px;margin-top:-10px;}
.IVRAcc .uparrow{position:relative;s}
.IVRAcc .uparrow:after, .IVRAcc .uparrow:before{bottom:100%;left:1%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.IVRAcc .uparrow:after{border-color:rgba(241,241,241,0);border-bottom-color:#ECECEC;border-width:10px;margin-top:-10px;}
.IVRAcc .uparrow:before{border-color:rgba(164,187,221,0);border-bottom-color:#DADCDD;border-width:10px;margin-top:-10px;}
.IVRAcc .titleHead p{margin:0px;}
.IVRAcc .titleHead p.Propmt{background:url(../images/ico-subnav-play.png) no-repeat left center;padding-left:20px;}
.IVRAcc .titleHead p.Menu{background:url(../images/ico-subnav-menu.png) no-repeat left center;padding-left:20px;}
.IVRAcc .titleHead p.Menu{background:url(../images/ico-subnav-menu.png) no-repeat left center;padding-left:20px;}
.IVRAcc .titleHead  p.Transfer{background:url(../images/ico-subnav-transfer.png) no-repeat left center;padding-left:20px;}
.IVRAcc .thirdlevel .uparrow:after,.IVRAcc .thirdlevel .uparrow:before{display:none!important;}
.table-responsive .summary{display:block;float:right;margin-bottom:5px}
.grid-view .summary{display:block;float:right;margin-bottom:5px}
.jstree-anchor .ivr-delete i{color:#EB0045}
.jstree-anchor .ivr-delete i:hover{color:#e02225}
.jstree-anchor .ivr-edit i{color:#337ab7}
.jstree-anchor .ivr-edit i:hover{color:#186db6!important}
.jstree-anchor .ivr-add i{color:#5cb85c}
.jstree-anchor .ivr-add i:hover{color:#449d44}
.actionbuttons{line-height:27px;background:transparent}
.actionbuttons i{font-size:12px;color:#8f8f8f;}
.actionbuttons:hover i{}
.actionbuttonsmedium{line-height:27px;background:#ffffff;padding:1px 0px}
.actionbuttonsmedium i{font-size:13px;color:#aaaaaa;}
.actionbuttonsmedium:hover i{color:#c80d0d;}
.actionbuttonsmedium:focus{outline:none}
.fileUploaded i{color:#5cb85c!important;}
.lastaction{margin-right:20px}
html,body{height:100%;background:#ffffff}
.mywrapper{min-height:100%;position:relative;}
.contentBody{padding-bottom:50px}
ul,ol{margin-top:-1px;}
.navbar-default{background-color:#fff;border-color:#e7e7e7;box-shadow:0 1px 0 rgba(255,255,255,0.15) inset,0 1px 5px rgba(0,0,0,0.075);}
.nav > li{border-right:1px #f5f6f7 solid}
.nav > li:last-child{border-right:none;}
.nav > li > a{color:#222;display:block;padding:14px 15px;position:relative;font-weight:normal;font-size:15px;}
.nav > li > a:hover{background:#F5F6F7;}
.nav-justified > li > a{margin-bottom:0;text-align:center;}
.nav-justified > li.active a{background-color:#EA2225;color:#fff;}
.nav-justified > li ul li a{background-color:#ffffff!important;color:#222!important;}
.nav-justified > li ul li.active a{background-color:#EA2225!important;color:#fff!important;}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{background:#EA2225}
.navbar-collapse{padding-left:0px;padding-right:0px;}
.open > .dropdown-menu{width:195px;}
.modal-body .nav > li > a{padding-top:8px;padding-bottom:8px;outline:0px}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{padding-left:15px;padding-right:15px;}
.container{padding-left:10px;padding-right:10px;}
.row{margin-left:-8px;margin-right:-8px;}
.dropdown-menu-right::before{border-bottom:7px solid #ccc;border-left:8px solid transparent;border-right:8px solid transparent;content:"";display:none;position:absolute;right:10px;top:-7px;}
label{font-weight:normal;}
.dropdown-menu-right::after{border-bottom:7px solid #ffffff;border-left:8px solid transparent;border-right:8px solid transparent;content:"";display:none;position:absolute;right:10px;top:-7px;}
label{font-weight:normal;}
.grid-view td .btn{padding:4px}
.grid-view td:last-child{text-align:center;width:120px}
.modal-head .form-group{margin-bottom:0px;line-height:35px;}
.form-group{margin-bottom:0px;line-height:35px;}
.modal-head .form-group label{font-weight:normal}
.modal-header{background-color:#373A36;/*border-bottom:1px solid #e5e5e5;*/color:#fff;min-height:16.4286px;padding:12px 15px;}
.modal-header .close{color:#b0b0b0;margin-top:-2px;opacity:0.6;text-shadow:none;}
.modal-content{background-clip:padding-box;background-color:#fff;border:2px solid #2c292d;border-radius:6px;}
.modal-dialog.md{width:490px;}
.modal-title{line-height:1.1;margin:0;}
.modal-body h5{border-bottom:1px solid #e1e1e1;color:#db493b;font-size:16px;font-weight:bold;margin:20px 0;padding:0 15px 10px;}
.modal-body.noSpace{padding:15px 0;}
.modal-footer{background-color: rgba(152, 153, 155, 0.2);padding:15px;text-align:right;}
.btn-primary{background:#ea2225 none repeat scroll 0 0;border-color:#cc4235;color:#fff;}
.btn-primary:hover{background:#E02225 none repeat scroll 0 0;border-color:#cc4235;color:#fff;}
.btn{font-size:13px;}
.panel-default > .panel-heading{background-color:#fff;border-color:#ddd;color:#333;font-weight:bold;padding:13px 15px;}
.panel-title{color:inherit;font-size:15px;font-weight:bold;margin-bottom:0;margin-top:0;}
.panel{margin-bottom:10px;}
.table > thead{background:#ffffff;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;margin-top:5px;}
.table thead th{font-weight:500!important}
.table tbody td{color:#444444!important}
.table > thead > tr > th{border-bottom-color:#f1f1f1!important}
.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td{border-bottom:1px solid #f1f1f1;line-height:1.42857;padding:10px 10px;vertical-align:middle;}
.form-control{height:35px;}
.pagination{margin:20px 10px;}
.pagination > li > a,.pagination > li > span{background-color:#fff;border:1px solid #ddd;color:#384047;float:left;font-size:11px;font-weight:bold;line-height:1.42857;margin-left:-1px;padding:6px 12px 8px;position:relative;text-decoration:none;}
.subNav{height:45px \0/;margin-bottom:10px \0/}
.login .logo{float:none}
.login .form-control{border:0px;box-shadow:none}
.login .form-control:focus{background:#F8F8F8!important}
.scrollable-menu{height:auto;max-height:280px;overflow-x:hidden;min-width:250px;}
.scrollable-menu::-webkit-scrollbar{-webkit-appearance:none;width:4px;}
.scrollable-menu::-webkit-scrollbar-thumb{border-radius:3px;background-color:lightgray;-webkit-box-shadow:0 0 1px rgba(255,255,255,.75);}
.ivrlist{margin-top:8px;margin-left:20px;}
.ivrDesignerBar select.actCont{color:#222222;background-color:#ffffff;border-color:#ffffff;padding:4px;-webkit-border-radius:4px!important;border-radius:4px!important;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-position:22px 3px;background-size:13px 13px;position:absolute;cursor:pointer;width:200px;top:-3px;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background:#EA2225}
.dropdown-toggle{}
.overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:10;background-color:rgba(0,0,0,0.5);text-align:center;}
.overlay img{position:relative;top:40%;width:44px;height:44px;}
.ivrDesignerBar .overlay-arrow{font-size:9px;color:white;position:absolute;right:0px;top:13px;cursor:default;line-height:1px;}
.ivrDesignerBar{position:relative;margin:0px 0px 0px 10px;padding:0px;width:195px;}
.ivrDesignerBar select.actCont:hover{color:#000000;background-color:#ffffff;border-color:#ffffff;}
.btn,.form-control,.dropdown-menu{-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}

/*chrome fix*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	.form-control{height:32px;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
	.profile .prfName{display:none;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
	.dd-menu-md{width:100%;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
	.page-header{margin-top:10px;margin-bottom:15px;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
	.page-header .dropdown{margin-left:0;width:100%;}
	.page-header h3{margin-bottom:10px;}
	.page-header .btnHold{}
	.page-header .search-hold{margin-bottom:4px;}
	.page-header .btn{width:100%;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
	.search-hold{width:100%;background-color:#FFF;-webkit-border-radius:3px;border-radius:3px;}
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (-webkit-min-device-pixel-ratio:1){
}

/* Portrait */
@media only screen 
and (min-device-width:320px) 
and (max-device-width:1024px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio:1){
	ul.cbp-ntaccordion li h3:after,ul.cbp-ntaccordion li h3:before{top:20px!important;}
	ul.cbp-ntsubaccordion li h4:after,ul.cbp-ntsubaccordion li h4:before{top:19px!important;}
	.cbp-ntaccordion,ul.secondLevel{padding-left:3.5%!important;}
	ul.cbp-ntaccordion li .marker{left:-31px!important;}
	.cbp-ntsubaccordion li .submarker{left:-30px!important;}
	ul.cbp-ntaccordion li h3:before{right:99.44%;}
	ul.cbp-ntsubaccordion li h4:before{right:99.24%!important;}
	ul.cbp-ntsubaccordion li h5:before{left:.68%!important;}
}

/* Landscape */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:landscape) 
and (-webkit-min-device-pixel-ratio:1){
	.subNav ul li{padding:15px 12px;}
	.IVRAcc .titleHead p.Propmt{width:90%;}
	ul.cbp-ntaccordion li h3:before{right:99.50%!important;}
	.contIVR{padding:0px;}
	.IVRAcc .titleHead .marker{left:-31px!important;}
	.IVRAcc .leftarrow:after,.IVRAcc .leftarrow:before{top:20px!important;}
	ul.cbp-ntsubaccordion li h4:after,ul.cbp-ntsubaccordion li h4:before{top:19px!important;}
	.IVRAcc .titleHead .submarker{left:-25px!important;}
	ul.cbp-ntsubaccordion li h4:before{right:99.34%!important;}
	.IVRAcc .titleHead p.Propmt,.IVRAcc .titleHead p.Menu,.IVRAcc.titleHead  p.Transfer{background-position:left 2px;}
}

/* ----------- iPad 1 and 2 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (-webkit-min-device-pixel-ratio:1){
}

/* Portrait */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio:1){
}

/* Landscape */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:landscape) 
and (-webkit-min-device-pixel-ratio:1){
}

/* ----------- iPad 3 and 4 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (-webkit-min-device-pixel-ratio:2){
}

/* Portrait */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio:2){
}

/* Landscape */
@media only screen 
and (min-device-width:768px) 
and (max-device-width:1024px) 
and (orientation:landscape) 
and (-webkit-min-device-pixel-ratio:2){
}
@media (min-width:768px) and (max-width:992px){
	.xScroll,.xScrollContainer{height:150px!important}
	.subNav ul li{width:25%;float:left;}
	.xScrollContainer .subNav{width:736px!important}
	.subNav ul li a{display:block;}
}
@media (min-width:768px) and (max-width:1200px){
	.nav > li > a{padding:16px 2px;font-size:12px}
}
@media (min-width:992px) and (max-width:1199px){
	.subNav ul li a{padding:15px 10px 15px 34px!important;}
}
@media (min-width:320px) and (max-width:768px){
	.IVRAcc .panel a.list-group-item{padding-right:40px;}
	.redarrow_box:after,.IVRAcc .titleHead .marker,.IVRAcc .titleHead .submarker,.IVRAcc .uparrow:after,.IVRAcc .uparrow:before,.IVRAcc .leftarrow:after,.IVRAcc .leftarrow:before{display:none;}
	.IVRAcc #MainMenu,.IVRAcc .secondLevel{margin:0px;padding:0px!important;border-left:none;background:none;}
	.IVRAcc .secondLevel,.IVRAcc .thirdlevel{margin-left:15px;}
	ul.cbp-ntsubaccordion li h5{margin-top:0px;}
	.IVRAcc .thirdlevel{padding:0px!important;}
	ul.cbp-ntaccordion li h3,.cbp-ntsubaccordion li h4,.cbp-ntaccordion h5{padding:14px 10px 10px 10px;}
	.IVRAcc .titleHead p.Propmt,.IVRAcc .titleHead p.Menu,.IVRAcc.titleHead  p.Transfer{background-position:left 2px;}
	.redarrow_box ul.rightLinks li a{padding:15px 6px;}
	.dd-menu-md{width:280px!important;}
}
@media (min-width:320px) and (max-width:767px){
	.redarrow_box{display:block;width:100%;margin-bottom:10px;height:100px}
	.redarrow_box p{float:none;}
	.redarrow_box ul.rightLinks{display:block!important;margin:0px 0px 5px 0px;}
	.redarrow_box ul.rightLinks li{border-right:0px solid #E14B3D;border-left:none;}
	.redarrow_box ul.rightLinks li:last-child{border-right:none;}
	.redarrow_box ul.rightLinks{padding:0px}
	.redarrow_box ul.rightLinks li a{padding:4px 8px;}
	.xScroll,.xScrollContainer{height:270px!important}
	.subNav ul li{width:50%;float:left;}
	.subNav ul li a{display:block;}
	.xScrollContainer .subNav{width:99%!important}
	.nav > li{border-bottom:0px solid #f5f6f7;border-right:medium none;}
	.nav > li a{padding:10px 14px;}
	.grid-view .summary{margin-right: 10px;margin-top: 10px}
}
@media only screen and (min-device-width:320px) and (max-device-width:991px){
	.xScroll{overflow:hidden;width:100%;height:48px;border-radius:3px;margin-bottom:5px;}
	.xScrollContainer{width:100%;overflow:auto;-webkit-overflow-scrolling:touch;height:68px;}
	.xScrollContainer .subNav{width:1148px;overflow:auto;float:left;border:none;}
	.ivrDesignerBarNav{float:left;width:42px}
	.subNav ul li{width:100%;}

}
@media (min-width:320px) and (max-width:420px){
	.redarrow_box ul.rightLinks{display:block!important;margin:5px 0px 5px 0px;float:left}
	#xmlEditor{margin-left:-1px;margin-top:53px;width:100%;}
	/* inline header fixes including search */	
	.page-header .btnHold{float:right;}
	.inlineTableSearch {top:6px !important;width: 100%}
	.inlineTableSearch .btn {margin-left: 0px !important}
	.page-header h3 {font-size: 22px}
}
@media (min-width:421px) and (max-width:767px){
	/* inline header fixes including search */	
	.page-header .btnHold{float:right;}
	.searchCrt {margin-top: 15px}
}
@media (min-width:768px) and (max-width:900px){
	
}
@media (min-width:1024px) and (max-width:2600px){
	.commandscroller{height:;}
}
.center-block{float:none;margin-left:auto;margin-right:auto;}
.input-group .icon-addon .form-control{border-radius:0;}
.icon-addon{position:relative;color:#555;display:block;}
.icon-addon:after,.icon-addon:before{display:table;content:" ";}
.icon-addon:after{clear:both;}
.icon-addon.addon-md .glyphicon,.icon-addon .glyphicon,.icon-addon.addon-md .fa,.icon-addon .fa{position:absolute;z-index:2;right:4px;font-size:14px;width:20px;margin-left:-2.5px;text-align:center;top:8px;color:#424242;}
.icon-addon.addon-lg .form-control{line-height:1.33;height:46px;font-size:18px;padding:10px 16px 10px 40px;}
.icon-addon.addon-sm .form-control{height:30px;padding:5px 10px 5px 28px;font-size:12px;line-height:1.5;}
.icon-addon.addon-lg .fa,.icon-addon.addon-lg .glyphicon{font-size:18px;margin-left:0;left:11px;top:4px;}
.icon-addon.addon-md .form-control,.icon-addon .form-control{padding-right:30px;float:left;font-weight:normal;}
.icon-addon.addon-sm .fa,.icon-addon.addon-sm .glyphicon{margin-left:0;font-size:12px;left:5px;top:-1px}
.icon-addon .form-control:focus + .glyphicon,.icon-addon:hover .glyphicon,.icon-addon .form-control:focus + .fa,.icon-addon:hover .fa{color:#212224;}
#tfnNumbers{padding:8px;}
.colorbox{padding:10px 15px;background:#edeff0;margin-bottom:10px!important}
.colorboxfooter{padding:15px 15px;background:#EBE7E4;margin-bottom:20px}
.colorbox h4{font-weight:500}
.colorbox .bottomAlign{margin-top:25px}

/* slim scrollbar */
.ivrListing{height:410px}
.slimScrollDiv{overflow-x:initial!important;overflow-y:initial!important;}
.jstree-node a.jstree-anchor{padding-bottom:12px!important;padding-left:30px!important}
.jstree-node a.jstree-anchor i.jstree-themeicon-custom{position:absolute;top:0px;height:39px;left:0;margin-right:0px}
.jstree-node-text{white-space:pre-wrap;width:83%;display:inline-block;}
.top-padding{}
.rowBorder{background:#EBE7E4;margin-top:-10px;}
.serverBox{vertical-align:middle;text-align:center;width:100%;background:#f0f1f3;padding:21px 0;margin-bottom:10px}
.serverBoxMiddle{background:#f7f8fa;}
.serverBox h3{margin:1px 0!important}
.serverTotal{text-align:center;width:100%;color:#e84943;font-weight:600;padding:5px 0 10px}
.serverThreads{color:#2d7fb7;}
.serverProcesses{color:#6cb185;}
.bottomMargin{margin-bottom:20px;display:block}
.no-MarginPadding{padding:0;margin:0px}
.no-gutter > [class*='col-']{padding-right:0;padding-left:0;}
.no-leftPadding{padding-left:0;}
.no-RightPadding{padding-right:0px!important;}
.no-bottomMargin{margin-bottom:0px!important}
.no-rightMargin{margin-right:0px!important}
.ui-datepicker{z-index:9999!important;font-size:13px}
.btn-success{background-color:#5ab65d;border-bottom-color:#5ab65d;border-left-color:#5ab65d;border-right-color:#5ab65d;border-top-color:#5ab65d;color:#ffffff;}
.btn-success:focus,.btn-success:hover,.btn-success:active:hover,.btn-success.active:hover,.open > .dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open > .dropdown-toggle.btn-success:focus,.btn-success.focus:active,.btn-success.active.focus,.open > .dropdown-toggle.btn-success.focus{background-color:#4d9a50;border-bottom-color:#4d9a50;border-left-color:#4d9a50;border-right-color:#4d9a50;border-top-color:#4d9a50;color:#ffffff;}
.btn-primary{background-color:#b83c32;border-bottom-color:#b83c32;border-left-color:#b83c32;border-right-color:#b83c32;border-top-color:#b83c32;color:#ffffff;}
.modal-content .md-radio label > .box{top:7px!important;}
.modal-content .md-radio label > .check{top:12px!important;}
.modal-content .md-radio label{position:relative;top:2px}
.modal-content .table tbody td{padding-top:5px!important;padding-bottom:5px!important}
.trigger{}
.showHideMenu{width:42px!important;overflow:hidden!important}
.no-topPadding .form-group.form-md-line-input{padding-top:0;}
.modal-head .md-checkbox label > span{left:4px;top:6px!important}
.modal-head .md-checkbox label > .check{left:9px;}
.modal-head .md-checkbox label > span.inc{left:-16px!important;top:-16px!important}
.holidaySearch .form-horizontal .form-group{margin-left:0px;}
.holidaySearch .form-horizontal .form-group .md-checkbox-inline{margin-top:11px}
.holidaySearch .searchFilter .btn{margin-top:7px}
form.cmxform label.error,label.error{}
.alert-success i.fa-check-circle{float:left;font-size:28px;margin-top:3px}
.fa-ban::before{font-size:14px}

@media (min-width:320px) and (max-width:400px){
	.jstree-node-text{width:40%;}
	.ivrDesignerBar{margin-left:0px;}
	.redarrow_box ul.rightLinks li{margin-left:0px;margin-right:10px;}
	.IVRAcc .jstree-container-ul{list-style:none;margin:0;padding:0 0 100px;margin-left:2%;padding-left:1.4%;border-left:0px solid #edeff0;min-width:98.2%;}
	.no-RightPadding-res{padding-right:0px}
}
@media (min-width:401px) and (max-width:480px){
	.jstree-node-text{width:55%;}
	.ivrDesignerBar{margin-left:0px}
	.IVRAcc .jstree-container-ul{margin-left:0;border-left:0px solid #edeff0;}
	.no-RightPadding-res{padding-right:0px}

}
@media (min-width:540px) and (max-width:768px){
	.redarrow_box{height:70px;}
	.IVRAcc .jstree-container-ul{padding-left:2%;}
	.no-RightPadding-res{padding-right:0px} 

}
@media (min-width:640px) and (max-width:700px){
	.jstree-node-text{width:72%;}
	.ivrDesignerBar{margin-left:0px}
	.IVRAcc .jstree-container-ul{margin-left:0;border-left:0px solid #edeff0;}
	.no-RightPadding-res{padding-right:0px}

}
@media (min-width:701px) and (max-width:800px){
	.jstree-node-text{width:76%;}
	.IVRAcc .jstree-container-ul{margin-left:2%;padding-left:2.6%;}
	.ivrDesignerBar{margin-left:0px}
	.no-RightPadding-res{padding-right:0px}
}
@media (min-width:801px) and (max-width:900px){
	.jstree-node-text{width:80%;}
	.no-RightPadding-res{padding-right:0px}
}
@media (min-width:901px) and (max-width:991px){
	.no-RightPadding-res{padding-right:0px}
}
@media (min-width:1100px) and (max-width:1300px){
	.jstree-node-text{width:85%;}
}
@media (min-width:1301px) and (max-width:1500px){
	.jstree-node-text{width:86%;}
}
@media (min-width:1501px) and (max-width:2100px){
	.jstree-node-text{width:90%;}
}
@media (min-width:2101px) and (max-width:2600px){
	.jstree-node-text{width:93%;}
}
@media (min-width:2601px) and (max-width:4000px){
	.jstree-node-text{width:95%;}
}
input[type="text"]{height:34px;padding-bottom:6px!important;padding-top:6px!important;transition-delay:0s,0s!important;transition-duration:0.50s,0.50s!important;transition-property:border-color,box-shadow!important;transition-timing-function:ease-in-out,ease-in-out!important;}
input[type="password"]{height:34px;padding-bottom:6px!important;padding-top:6px!important;transition-delay:0s,0s!important;transition-duration:0.50s,0.50s!important;transition-property:border-color,box-shadow!important;transition-timing-function:ease-in-out,ease-in-out!important;}


.noLRmargin {margin-top:10px;margin-left: 0 !important;margin-bottom:10px;margin-right: 0 !important;padding-bottom: 9px; border-bottom: 1px #eee solid}

.portlet.light {padding-bottom: 15px;padding-top: 15px;}